@import 'variables';
@import '~og-css/sass/og';

.curves-pattern {
  height: 115px;
  -webkit-mask-image: url('/img/pattern.webp');
  mask-image: url('/img/pattern.webp');
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  -webkit-mask-size: 1440px;
  mask-size: 1440px;
}

.curves-pattern-overlay:after,
.curves-pattern-overlay:before {
  background: url('/img/pattern_2.webp') repeat-x 50%;
  background-size: 1440px;
  content: '';
  display: block;
  height: 115px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.curves-pattern-overlay:after {
  left: -660px;
  width: calc(100% + 2000px);
}

.curves-pattern-overlay:before {
  left: -900px;
  width: calc(100% + 930px);
}

.w-screen {
  width: 100vh !important;
}

img,
embed,
object,
audio,
div,
p,
body,
ul,
li,
input,
select,
nav,
video {
  max-width: 100%;
}

.font-christmas {
  font-family: 'Mountains of Christmas', cursive !important;
}

h3,
h4,
h5,
h6 {
  font-family: $default-font !important;
}

.-b-8 {
  bottom: -8% !important;
}

.mt-vw-1 {
  margin-top: 1vw !important;
}

.mt-vw-2 {
  margin-top: 2vw !important;
}

.mt-vw-3 {
  margin-top: 3vw !important;
}

.mb-vw-1 {
  margin-bottom: 1vw !important;
}

.mb-vw-2 {
  margin-bottom: 2vw !important;
}

.mb-vw-3 {
  margin-bottom: 3vw !important;
}

.mr-vw-1 {
  margin-right: 1vw !important;
}

.mr-vw-2 {
  margin-right: 2vw !important;
}

.mr-vw-3 {
  margin-right: 3vw !important;
}

.ml-vw-1 {
  margin-left: 1vw !important;
}

.ml-vw-2 {
  margin-left: 2vw !important;
}

.ml-vw-3 {
  margin-left: 3vw !important;
}

.-l-4-rem {
  left: -1.5rem !important;
}

.-l-4 {
  left: -4% !important;
}

.-l-3-5 {
  left: -3.5% !important;
}

.-l-3 {
  left: -3% !important;
}

.growing-icon {
  animation-direction: initial;
  -webkit-animation-direction: reverse;
  /* Safari 4.0 - 8.0 */
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: infinite;
  animation-name: growing-animation;
  -webkit-animation-name: growing-animation;
  /* Safari 4.0 - 8.0 */
  position: relative;
}

html {
  font-weight: 400;
}

@-webkit-keyframes growing-animation {
  0% {
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -o-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
  }

  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -o-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
  }
}

/* Standard syntax */
@keyframes growing-animation {
  0% {
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -o-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
  }

  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -o-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
  }
}

.w-70-temp {
  width: 70%;
}

.w-0-temp {
  width: 0%;
}

.-ml-70\%-temp {
  margin-left: -70%;
}

.underline {
  &,
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
